{% extends 'formato.html' %}

{% block section%}

<div class="container text-end mt-4">
    <a href="{% url 'Historial_transacciones'%}" class="btn btn-success w-15 rounded-3 py-2 fw-bold">Ver Transacciones</a>
</div>

<div class="container mt-5">

    <div class="card">

        <div class="card-header bg-secondary">
        Registrar Transaccion
        </div>

        <div class="card-body">

            <form method="post">

            {% csrf_token %}

                <div class="mb-3">
                    <label>Cuenta</label>
                    {{ form.cuenta }}
                </div>

                <div class="mb-3">
                    <label>Tipo</label>
                    {{ form.tipo }}
                </div>

                <div class="mb-3">
                    <label>Monto</label>
                    {{ form.monto }}
                </div>

                <div class="mb-3">
                    <label>Descripcion</label>
                    {{ form.descripcion }}
                </div>

                <button class="btn btn-warning">Registrar</button>

            </form>

        </div>
    </div>
</div>

<script>

    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                icon: 'error',
                title: '{{message}}',
                showConfirmButton: false,
                timer: 2000
            })
        {% endfor %}   

        {% endif %}


</script>
       

{% endblock section %}